/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
	background-color: #ACA4A4;
	font-display: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #0B0B0B;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	margin-top: 30 px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333333;
}
p {
	line-height: 28px;
	margin-bottom: 25px;
	}
.centered {
	text-align: center;
}
a{
	color: #f85c37;
}
a:hover, a:focus {
	color: #7B7B7B;
	text-decoration:none;
	outline: 0;
}
hr{
	display:block;
	height: 1px;
	border:0;
	border-top: 1px solid #ccc;
	margin: 1 em 0;
	padding: 0;
}
.navbar{
	font-weight: 800;
	font-size: 14 px;
	padding-top: 5 px;
	padding-bottom: 5 px;
}
.navbar-inverse{
	background: #2D2D2D;
	border-color: #2D2D2D;
}
.navbar-inverse.navbar-nav>.active>a {
	background-color: #787800
}
.navbar-header img{
	padding-bottom: -10px;
	min-height: 0px;
}
.navbar-inverse.navbar-brand{
	color: #999999;
	font-weight: bolder;
	font-size: 22 px;
	letter-spacing: 1 px;
}
#headerwrap{
	background: url("../шап.jpg") no-repeat center top;
	margin-top: -20px;
	padding-top: 50px;
	text-align: center;
	background-attachment: inherit;
	background-position: center center;
	min-height: 200px;
	width: 100%;
	background-size: 100%,100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-origin: content-box;
}
#headerwrap h1{
	margin-top: 90px;
	color:darkviolet ;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}
#headerwrap h2{
	color:#740230 ;
	font-size: 40px;
	padding-bottom: 100px;
}
.w{
	padding-top: 35 px;
}
.w h4{
	font-size: 25px;
}
#dg{
	background:#0e0e0e;
	padding-top: 70 px;
	padding-bottom: 70 px;
	text-align: center;
	color: whitesmoke;
	}
#dg h4{
	font-size: 40px;
	color:burlywood
}
#dg h3{
	color: whitesmoke;
}
.titl{
	transition:all 0.5s ease;
}
.titl:hover{
	transform: rotate(10deg);
}
.wb{
	padding-top: 35px;
	margin-bottom: 0;
	}
.wb h4{
	font-size: 35px;
}

#f{
	background: #2d2d2d;
	padding-top: 10px;
	padding-bottom: 10px;
	color: darkgray;
}
#f i{
	color: #BDBDBD;
	font-size: 30px;
	padding: 20px;
}
#f i:hover{
	color: #FF7878;
}
